{% extends 'blog/base.html' %} {% block content %}
<article class="post">
  <aside class="actions">
    <!-- 用户登录后，在草稿箱里面进行-发布操作 -->
    {% if post.published_date %}
    <div class="date">{{ post.published_date }}</div>
    {% else %}
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"
      >{% include './icons/send-file.svg' %}推送</a
    >
    {% endif %}
    <!-- 保护措施用户授权登录后才能进行-编辑操作 -->
    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
      {% include './icons/pencil-file.svg' %}编辑
    </a>
    {% endif %}
    <!-- 保护措施用户授权登录后才能进行-删除操作 -->
    {% if user.is_authenticated %}
    <a class="btn btn-remove" href="{% url 'post_remove' pk=post.pk %}">
      {% include './icons/delete-file.svg' %}删除
    </a>
    {% endif %}
  </aside>
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
  <hr />
  <!-- <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}"
    >评论区：点击此处添加评论</a
  > -->
  <a class="btn btn-remove" href="{% url 'add_comment_to_post' pk=post.pk %}">
    {% include './icons/message-style.svg' %}点此评论
  </a>
  <!-- 对评论区进行操作 --点赞和不要 -->
  {% for comment in post.comments.all %}
  <div class="comment">
    <div class="date">
      {% if not comment.approved_comment %}
      <!-- 已授权的评论 -->
      <a
        class="btn btn-default"
        href="{% url 'comment_remove' pk=comment.pk %}"
      >
        {% include './icons/hand-thumbs-down.svg' %}
      </a>
      <!-- 未授权的评论 -->
      <a
        class="btn btn-default"
        href="{% url 'comment_approve' pk=comment.pk %}"
      >
        {% include './icons/hand-thumbs-up.svg' %}
      </a>
      {% endif %}
    </div>
    <!-- 评论作者 -->
    <strong>{{ comment.author }}</strong>
    <!-- 评论内容 -->
    <p>{{ comment.text|linebreaks }}</p>
  </div>
  {% empty %}
  <!-- 提示没有评论快来抢沙发 -->
  <p>No comments here yet :(</p>
  {% endfor %}
</article>
{% endblock %}
