<!-- 标记签与想要连接的模块在一起 -->
{% extends 'blog/base.html' %}
<!-- 目的加载静态文件下载CSS -->
{% load static %}

<!-- 显示主页面html -->
<!DOCTYPE html>
<html>
  <head class="page-header">
    <title>Django Girls blog</title>
    <a
      href="https://en.wikipedia.org/wiki/Django"
      class="external_link"
      id="link_to_wiki_page"
    ></a>
    <!-- 字体 -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
    />
    <!-- bootstrap样式 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- 获取css -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col">
          {% block content %} {% for post in posts %}
          <!-- 跳转页面  推送时间 -->
          <article class="post">
            {{ post.published_date }}
            <div>
              <h2>
                <!-- 推送内容的标题 -->
                <a href="{% url 'post_detail' pk=post.pk %}"
                  >{{ post.title }}</a
                >
              </h2>
              <!-- 推送内容 -->
              <p>{{ post.text|linebreaksbr }}</p>
              <!-- 显示评论数量（用户已授权） -->
              <a href="{% url 'post_detail' pk=post.pk %}"
                >Comments: {{ post.comments.count }}条评论</a
              >
            </div>
          </article>
          {% endfor %} {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
